/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(67, 56, 202, 0.8) rgba(243, 243, 243, 0.45);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.6rem;
}

*::-webkit-scrollbar-track {
    background: rgba(243, 243, 243, 0.45);
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(67, 56, 202, 0.8);
    border-radius: 5px;
    border: 1px solid rgba(243, 243, 243, 0.45);
}
