/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.4s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-50px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(50px);
}
